@using CdCSharp.BlazorUI.Components
@using CdCSharp.BlazorUI.Abstractions
@using CdCSharp.BlazorUI.Components

@inherits BUIComponentBase
@implements IHasSize
@implements IHasDensity
@implements IHasColor
@implements IHasBackgroundColor
@implements IHasShadow
@implements IHasLoading
@implements IHasError
@implements IHasDisabled
@implements IHasReadOnly
@implements IHasRequired
@implements IHasFullWidth
@implements IHasRipple
@implements IHasBorder
@implements IJsBehavior

<div @ref="_elementRef" @attributes="ComputedAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public BUISize Size { get; set; }
    [Parameter] public BUIDensity Density { get; set; }
    [Parameter] public string? Color { get; set; }
    [Parameter] public string? BackgroundColor { get; set; }
    [Parameter] public ShadowStyle? Shadow { get; set; }
    [Parameter] public bool Loading { get; set; }
    [Parameter] public bool Error { get; set; }
    [Parameter] public bool Disabled { get; set; }
    public bool IsDisabled => Disabled || Loading;
    [Parameter] public bool ReadOnly { get; set; }
    [Parameter] public bool Required { get; set; }
    [Parameter] public bool FullWidth { get; set; }
    [Parameter] public bool DisableRipple { get; set; }
    [Parameter] public string? RippleColor { get; set; }
    [Parameter] public int? RippleDurationMs { get; set; }
    [Parameter] public BorderStyle? Border { get; set; }

    private ElementReference _elementRef;
    public ElementReference GetRippleContainer() => _elementRef;
}