@inherits LayoutComponentBase

<BUIInitializer DefaultTheme="dark">
    <div class="home-layout">
        <header class="home-layout__header">
            <a class="doc-header__brand" href="/">
                <div class="doc-header__logo">B</div>
                <div class="doc-header__wordmark">
                    <span class="doc-header__wordmark-blazor">Blazor</span><span class="doc-header__wordmark-ui">UI</span>
                </div>
            </a>
            <nav class="doc-header__actions">
                <a class="doc-header__link" href="/getting-started">Get started</a>
                <a class="doc-header__link" href="https://github.com/smaicas/CdCSharp.BlazorUI" target="_blank" rel="noopener">GitHub</a>
                <CdCSharp.BlazorUI.Components.Wasm.BUICultureSelector Size="BUISize.Small"
                                                                      Variant="BlazorUI.Components.Wasm.BUICultureSelectorVariant.Dropdown" />
                <BUIThemeSelector Variant="BUIThemeSelectorVariant.SunMoon" />
            </nav>
        </header>

        <main class="home-layout__main">
            @Body
        </main>
    </div>
</BUIInitializer>

<BUIModalHost />
<BUIToastHost MaxVisiblePerPosition="5" />
