@inherits LayoutComponentBase

<BUIInitializer DefaultTheme="dark">
    <BUISidebarLayout HeaderHeight="68px" SidebarWidth="280px">
        <Header>
            <a class="doc-header__brand" href="/">
                <div class="doc-header__logo">B</div>
                <div class="doc-header__wordmark">
                    <span class="doc-header__wordmark-blazor">Blazor</span><span class="doc-header__wordmark-ui">UI</span>
                </div>
            </a>
            <nav class="doc-header__actions">
                <a class="doc-header__link" href="/getting-started">Get started</a>
                <a class="doc-header__link" href="https://github.com/smaicas/CdCSharp.BlazorUI" target="_blank" rel="noopener">GitHub</a>
                <CdCSharp.BlazorUI.Components.Wasm.BUICultureSelector Size="BUISize.Small"
                                                                      Variant="BlazorUI.Components.Wasm.BUICultureSelectorVariant.Dropdown"/>
                <BUIThemeSelector Variant="BUIThemeSelectorVariant.SunMoon" />
            </nav>
        </Header>
        <Sidebar>
            <NavMenu />
        </Sidebar>
        <ChildContent>
            <div class="doc-content__wrapper">
                @Body
            </div>
        </ChildContent>
    </BUISidebarLayout>
</BUIInitializer>

<BUIModalHost />
<BUIToastHost MaxVisiblePerPosition="5" />