<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />

    <!-- Main library css -->
    <link href="_content/CdCSharp.BlazorUI/css/blazorui.css" rel="stylesheet" />
    <!-- Scoped files from library -->
@*     <link href="_content/CdCSharp.BlazorUI/CdCSharp.BlazorUI.bundle.scp.css" rel="stylesheet" />
    <link href="_content/CdCSharp.BlazorUI.Localization.Wasm/CdCSharp.BlazorUI.Localization.Wasm.bundle.scp.css" rel="stylesheet" /> *@

    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["CdCSharp.BlazorUI.AppTest.Server.styles.css"]" />

    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
