/* Picker dialog content */
bui-component[data-bui-component="input-date-time"] .bui-input-datetime__picker-content {
    display: flex;
    flex-direction: column;
    gap: calc(0.5rem * var(--bui-density-multiplier));
}
