@namespace CdCSharp.BlazorUI.Components.Forms

@if (HasSuffix)
{
    <_BUIAddon Icon="@SuffixIcon" Size="Size" class="bui-input__addon--suffix">
        @if (!string.IsNullOrWhiteSpace(SuffixText))
        {
            <span>@SuffixText</span>
        }
    </_BUIAddon>
}

@code {
    private bool HasSuffix => !string.IsNullOrWhiteSpace(SuffixText) || !string.IsNullOrWhiteSpace(SuffixIcon);
    [Parameter] public string? SuffixText { get; set; }
    [Parameter] public string? SuffixIcon { get; set; }
    [Parameter] public BUISize Size { get; set; } = BUISize.Medium;
}