@namespace CdCSharp.BlazorUI.Components.Forms

@if (HasPrefix)
{
    <_BUIAddon Icon="@PrefixIcon" Size="Size" class="bui-input__addon--prefix">
        @if (!string.IsNullOrWhiteSpace(PrefixText))
        {
            <span>@PrefixText</span>
        }
    </_BUIAddon>
}

@code {
    private bool HasPrefix => !string.IsNullOrWhiteSpace(PrefixText) || !string.IsNullOrWhiteSpace(PrefixIcon);
    [Parameter] public string? PrefixText { get; set; }
    [Parameter] public string? PrefixIcon { get; set; }
    [Parameter] public BUISize Size { get; set; } = BUISize.Medium;
}