@namespace CdCSharp.BlazorUI.Components.Forms

@if (!string.IsNullOrWhiteSpace(Label))
{
    <fieldset class="bui-input__fieldset" aria-hidden="true">
        <legend class="bui-input__legend">
            <span>@Label</span>
        </legend>
    </fieldset>

    <label for="@For" class="bui-input__label">
        @Label
        @if (Required)
        {
            <span class="bui-input__required">*</span>
        }
    </label>
}

@code {
    [Parameter] public string? Label { get; set; }
    [Parameter] public string? For { get; set; }
    [Parameter] public bool Required { get; set; }
}