@namespace CdCSharp.BlazorUI.Components.Forms

@if (HasPrefix)
{
    <span class="bui-input__addon bui-input__addon--prefix">
        @if (!string.IsNullOrWhiteSpace(PrefixIcon))
        {
            <BUISvgIcon Icon="@PrefixIcon" Size="Size" />
        }
        @if (!string.IsNullOrWhiteSpace(PrefixText))
        {
            <span>@PrefixText</span>
        }
    </span>
}

@code {
    private bool HasPrefix => !string.IsNullOrWhiteSpace(PrefixText) || !string.IsNullOrWhiteSpace(PrefixIcon);
    [Parameter] public string? PrefixText { get; set; }
    [Parameter] public string? PrefixIcon { get; set; }
    [Parameter] public SizeEnum Size { get; set; } = SizeEnum.Medium;
}