@namespace CdCSharp.BlazorUI.Components.Forms

@if (HasSuffix)
{
    <span class="bui-input__addon bui-input__addon--suffix">
        @if (!string.IsNullOrWhiteSpace(SuffixIcon))
        {
            <BUISvgIcon Icon="@SuffixIcon" Size="Size" />
        }
        @if (!string.IsNullOrWhiteSpace(SuffixText))
        {
            <span>@SuffixText</span>
        }
    </span>
}

@code {
    private bool HasSuffix => !string.IsNullOrWhiteSpace(SuffixText) || !string.IsNullOrWhiteSpace(SuffixIcon);
    [Parameter] public string? SuffixText { get; set; }
    [Parameter] public string? SuffixIcon { get; set; }
    [Parameter] public SizeEnum Size { get; set; } = SizeEnum.Medium;
}