@namespace CdCSharp.BlazorUI.Components.Forms

@if (Loading)
{
    <span class="bui-input__addon">
        <BUILoadingIndicator Variant="@LoadingIndicatorVariant" Size="Size" />
    </span>
}

@code {
    [Parameter] public bool Loading { get; set; }
    [Parameter] public BUILoadingIndicatorVariant LoadingIndicatorVariant { get; set; } = BUILoadingIndicatorVariant.CircularProgress;
    [Parameter] public SizeEnum Size { get; set; } = SizeEnum.Medium;
}