bui-component[data-bui-component="code-block"] {
    display: flex;
    flex-direction: column;
    gap: 0;
    --_code-block-background: var(--bui-inline-background, var(--palette-surface));
    --_code-block-border-radius: var(--bui-inline-border-radius, var(--bui-border-radius));
    --_code-block-border: var(--bui-inline-border, var(--bui-border-width) var(--bui-border-style) var(--palette-border));
    --_code-block-border-top: var(--bui-inline-border-top, var(--bui-inline-border, var(--bui-border-width) var(--bui-border-style) var(--palette-border)));
    --_code-block-border-right: var(--bui-inline-border-right, var(--bui-inline-border, var(--bui-border-width) var(--bui-border-style) var(--palette-border)));
    --_code-block-border-bottom: var(--bui-inline-border-bottom, var(--bui-inline-border, var(--bui-border-width) var(--bui-border-style) var(--palette-border)));
    --_code-block-border-left: var(--bui-inline-border-left, var(--bui-inline-border, var(--bui-border-width) var(--bui-border-style) var(--palette-border)));
}

    bui-component[data-bui-component="code-block"] .bui-code-block__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem 0.5rem;
        background-color: color-mix(in oklch, var(--_code-block-background) 75%, var(--palette-primary));
        border-radius: var(--_code-block-border-radius);
        border: var(--_code-block-border);
        border-top: var(--_code-block-border-top);
        border-right: var(--_code-block-border-right);
        border-bottom: var(--_code-block-border-bottom);
        border-left: var(--_code-block-border-left);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 1px solid var(--palette-border);
        width: 100%;
        user-select: none;
    }

    bui-component[data-bui-component="code-block"] .bui-code-block__title {
        font-weight: 500;
        opacity: 0.7;
    }

    bui-component[data-bui-component="code-block"] .bui-code-block__content {
        padding: 0;
        width: 100%;
        overflow-x: auto;
        font-family: var(--bui-font-mono);
        background-color: var(--_code-block-background);
        border-radius: var(--_code-block-border-radius);
        border: var(--_code-block-border);
        border-top: var(--code-blockn-border-top);
        border-right: var(--_code-block-border-right);
        border-bottom: var(--_code-block-border-bottom);
        border-left: var(--_code-block-border-left);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }