@using CdCSharp.BlazorUI.Components.Abstractions
@using CdCSharp.BlazorUI.Components.Features.Behaviors
@inherits UIComponentBase
@implements IJsBehavior

<ui-component @attributes="ComputedAttributes">
    <div @ref="_rootElement">Minimal Component</div>
</ui-component>

@code {

    private ElementReference _rootElement;

    public ElementReference GetRootElement() => _rootElement;
}
