@code {

    public RenderFragment BasicCustomTemplate(TestVariantComponent component) => __builder =>
    {
        <bui-component @attributes="component.ComputedAttributes">
            <button @onclick="component.OnClick"
                    disabled="@component.Disabled">
                @component.Text
            </button>
        </bui-component>
    };

}
