@using CdCSharp.BlazorUI.Components.Abstractions

@inherits UIComponentBase

<ui-component @attributes="ComputedAttributes">
    <div>
        <span class="test-content">@Text</span>
    </div>
</ui-component>
@code {
    [Parameter] public string Text { get; set; } = "Test Component";

    [Parameter] public bool IsPrimary { get; set; }
    [Parameter] public string? Color { get; set; }
    [Parameter] public string? BackgroundColor { get; set; }
}