@using CdCSharp.BlazorUI.Components.Abstractions
@using CdCSharp.BlazorUI.Css
@inherits UIVariantComponentBase<TestVariantComponent, TestVariant>

@{
    base.BuildRenderTree(__builder);
}

@code {
    [Parameter] public string Text { get; set; } = "Test Variant Component";
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    protected override TestVariant DefaultVariant => TestVariant.Default;

    protected override Dictionary<TestVariant, Func<TestVariantComponent, RenderFragment>> BuiltInTemplates { get; } = new()
    {
        [TestVariant.Default] = component => component.RenderDefault(),
        [TestVariant.Alternative] = component => component.RenderAlternative(),
    };

    private RenderFragment RenderDefault() => __builder =>
    {
        <ui-component @attributes="ComputedAttributes"
                      data-ui-component="test-variant"
                      data-ui-variant="@(Variant ?? DefaultVariant).Name.ToLowerInvariant()">
            <button @onclick="OnClick"
                    disabled="@Disabled">
                @Text
            </button>
        </ui-component>
    };

    private RenderFragment RenderAlternative() => __builder =>
    {
        <ui-component @attributes="ComputedAttributes"
                      data-ui-component="test-variant"
                      data-ui-variant="alternative"
                      data-style="alternative">
            <div @onclick="OnClick">
                <span>Alt: @Text</span>
            </div>
        </ui-component>
    };
}