@using CdCSharp.BlazorUI.Core.Abstractions.Components
@inherits BUIVariantComponentBase<TestVariantComponent, TestVariant>

@{
    base.BuildRenderTree(__builder);
}

@code {
    [Parameter] public string Text { get; set; } = "Test Variant Component";
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    public override TestVariant DefaultVariant => TestVariant.Default;

    protected override Dictionary<TestVariant, Func<TestVariantComponent, RenderFragment>> BuiltInTemplates { get; } = new()
    {
        [TestVariant.Default] = component => component.RenderDefault(),
        [TestVariant.Alternative] = component => component.RenderAlternative(),
    };

    private RenderFragment RenderDefault() => __builder =>
    {
        <bui-component @attributes="ComputedAttributes">
            <button @onclick="OnClick"
                    disabled="@IsDisabled">
                @Text
            </button>
        </bui-component>
    };

    private RenderFragment RenderAlternative() => __builder =>
    {
        <bui-component @attributes="ComputedAttributes">
            <div @onclick="OnClick">
                <span>Alt: @Text</span>
            </div>
        </bui-component>
    };
}