@namespace CdCSharp.BlazorUI.Tests.Integration.Templates.Stubs
@using CdCSharp.BlazorUI.Components.Layout
@implements IModalContent

<div class="test-modal-content">Test Modal</div>

@code {
    [Parameter] public ModalReference ModalRef { get; set; } = default!;

    ModalReference IModalContent.ModalReference
    {
        get => ModalRef;
        set => ModalRef = value;
    }
}
