@using CdCSharp.BlazorUI.Core.Abstractions.Components
@namespace CdCSharp.BlazorUI.Components
@attribute [GenerateComponentInfo]

@inherits BUIVariantComponentBase<BUIBadge, BUIBadgeVariant>
@implements IHasSize
@implements IHasColor
@implements IHasBackgroundColor
@implements IHasBorder
@implements IHasShadow

@{
    base.BuildRenderTree(__builder);
}

@code {
    /* ========= Public API ========= */

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool Circular { get; set; }

    //  IHasSize
    [Parameter] public BUISize Size { get; set; } = BUISize.Medium;

    // IHasColor
    [Parameter] public string? Color { get; set; }

    // IHasBackgroundColor
    [Parameter] public string? BackgroundColor { get; set; }

    // IHasBorder
    [Parameter] public BorderStyle? Border { get; set; }

    // IHasShadow
    [Parameter] public ShadowStyle? Shadow { get; set; }

    /* ========= Variant ========= */

    public override BUIBadgeVariant DefaultVariant => BUIBadgeVariant.Default;

    protected override Dictionary<BUIBadgeVariant, Func<BUIBadge, RenderFragment>> BuiltInTemplates { get; } = new()
    {
        [BUIBadgeVariant.Default] = b => b.RenderBadge(),
    };

    /* ========= Base additions ========= */

    public override void BuildComponentDataAttributes(Dictionary<string, object> dataAttributes)
    {
        if (ChildContent == null)
        {
            dataAttributes[FeatureDefinitions.DataAttributes.Dot] = "true";
        }

        if (Circular)
        {
            dataAttributes[FeatureDefinitions.DataAttributes.Circular] = "true";
        }
    }

    /* ========= Render ========= */

    private RenderFragment RenderBadge() => __builder =>
    {
        <bui-component @attributes="ComputedAttributes">
            <span class="bui-badge">
                @if (ChildContent != null)
                {
                    @ChildContent
                }
            </span>
        </bui-component>
    };
}