bui-component[data-bui-component="badge"] {
    display: inline-flex;
    vertical-align: middle;
    --_badge-padding-x: 0.5rem;
    --_badge-padding-y: 0.25rem;
    --_badge-font-weight: 600;
    --_badge-circular-size: 1.5rem;
    --_badge-background: var(--bui-inline-background, var(--palette-primary));
    --_badge-color: var(--bui-inline-color, var(--palette-primarycontrast));
    --_badge-border-radius: var(--bui-inline-border-radius, var(--bui-border-radius));
    --_badge-border: var(--bui-inline-border, var(--bui-border-width) var(--bui-border-style) var(--palette-border));
    --_badge-border-top: var(--bui-inline-border-top, var(--bui-inline-border, var(--bui-border-width) var(--bui-border-style) var(--palette-border)));
    --_badge-border-right: var(--bui-inline-border-right, var(--bui-inline-border, var(--bui-border-width) var(--bui-border-style) var(--palette-border)));
    --_badge-border-bottom: var(--bui-inline-border-bottom, var(--bui-inline-border, var(--bui-border-width) var(--bui-border-style) var(--palette-border)));
    --_badge-border-left: var(--bui-inline-border-left, var(--bui-inline-border, var(--bui-border-width) var(--bui-border-style) var(--palette-border)));
}

    bui-component[data-bui-component="badge"] .bui-badge {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: var(--_bui-density-gap);
        padding: var(--_badge-padding-y) var(--_badge-padding-x);
        white-space: nowrap;
        font-weight: var(--_badge-font-weight);
        background-color: var(--_bui-inline-background-color, var(--_badge-background));
        color: var(--_bui-inline-color, var(--_badge-color));
        border-radius: var(--_badge-border-radius);
        border: var(--_badge-border);
        border-top: var(--_badge-border-top);
        border-right: var(--_badge-border-right);
        border-bottom: var(--_badge-border-bottom);
        border-left: var(--_badge-border-left);
        user-select: none;
    }

    /* Empty badge (dot) */
    bui-component[data-bui-component="badge"][data-bui-dot="true"] .bui-badge:empty {
        padding: var(--_badge-padding-y);
        border-radius: 50%;
    }

    /* Circular badge */
    bui-component[data-bui-component="badge"][data-bui-circular="true"]:not([data-bui-dot="true"]) .bui-badge {
        display: inline-grid;
        place-items: center;
        width: var(--_badge-circular-size, 1.5rem);
        height: var(--_badge-circular-size, 1.5rem);
        padding: 0;
        border-radius: 50%;
        line-height: 1;
        font-size: 0.75em;
    }
