@using CdCSharp.BlazorUI.Components.Features.Common
@using CdCSharp.BlazorUI.Components.Generic.Svg
@using CdCSharp.BlazorUI.Media.Icons

<div class="nav-menu">
    <NavLink href="" Match="NavLinkMatch.All" class="nav-item">
        <UISvgIcon Icon="@UIIcons.MaterialIconsRound.i_home" Size="SizeEnum.Small" />
        <span>Home</span>
    </NavLink>

    <div class="nav-section">
        <h3 class="nav-section__title">Getting Started</h3>
        <NavLink href="getting-started/installation" class="nav-item">
            <span>Installation</span>
        </NavLink>
        <NavLink href="getting-started/first-steps" class="nav-item">
            <span>First Steps</span>
        </NavLink>
    </div>

    <div class="nav-section">
        <h3 class="nav-section__title">Components</h3>
        <NavLink href="components/buttons" class="nav-item">
            <span>Buttons</span>
        </NavLink>
        <NavLink href="components/icons" class="nav-item">
            <span>Icons</span>
        </NavLink>
        <NavLink href="components/loading" class="nav-item">
            <span>Loading Indicators</span>
        </NavLink>
        <NavLink href="components/theme-switch" class="nav-item">
            <span>Theme Switch</span>
        </NavLink>
    </div>

    <div class="nav-section">
        <h3 class="nav-section__title">Features</h3>
        <NavLink href="features/transitions" class="nav-item">
            <span>Transitions</span>
        </NavLink>
        <NavLink href="features/elevation" class="nav-item">
            <span>Elevation</span>
        </NavLink>
        <NavLink href="features/density" class="nav-item">
            <span>Density</span>
        </NavLink>
        <NavLink href="features/ripple-effects" class="nav-item">
            <span>Ripple Effects</span>
        </NavLink>
        <NavLink href="features/borders" class="nav-item">
            <span>Borders</span>
        </NavLink>
    </div>

    <div class="nav-section">
        <h3 class="nav-section__title">Theming</h3>
        <NavLink href="theming/overview" class="nav-item">
            <span>Overview</span>
        </NavLink>
        <NavLink href="theming/colors" class="nav-item">
            <span>Colors</span>
        </NavLink>
        <NavLink href="theming/custom-themes" class="nav-item">
            <span>Custom Themes</span>
        </NavLink>
    </div>

    <div class="nav-section">
        <h3 class="nav-section__title">Reference</h3>
        <NavLink href="reference/css-classes" class="nav-item">
            <span>CSS Classes</span>
        </NavLink>
    </div>
</div>