bui-component[data-bui-component="input-checkbox"] {
    --bui-checkbox-box-size: calc(20px * var(--bui-size-scale));
}

    /* Checkbox box */
    bui-component[data-bui-component="input-checkbox"] .bui-checkbox__box {
        width: var(--bui-checkbox-box-size);
        height: var(--bui-checkbox-box-size);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;
        color: var(--bui-inline-color, var(--palette-primary));
    }