._bui-btn {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    gap: 0.25rem;
    min-width: calc(2.5rem * var(--bui-size-multiplier, 1));
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    overflow: hidden;
    font-size: calc(1rem * var(--bui-size-multiplier, 1));
    color: var(--palette-surfacecontrast);
}

    /* Disabled */
    ._bui-btn:disabled {
        opacity: var(--bui-opacity-disabled);
        cursor: not-allowed;
    }

    /* Focus state */
    ._bui-btn:focus-visible {
        outline: var(--bui-highlight-outline);
        outline-offset: var(--bui-highlight-outline-offset);
    }

    /* Press state */
    ._bui-btn:active:not(:disabled) {
        /*background: color-mix(in oklab, var(--palette-primary) 80%, var(--palette-activetint) 20%);*/
        color: color-mix(in oklab, var(--palette-surfacecontrast) 80%, var(--palette-primary) 20%);
    }

    /* Hover state */
    ._bui-btn:hover:not(:active):not(:disabled) {
        /*background: color-mix(in oklab, var(--palette-primary) 90%, var(--palette-hovertint) 10%);*/
        color: color-mix(in oklab, var(--palette-surfacecontrast) 80%, var(--palette-primary) 20%);
    }

    /* Sizes */
    ._bui-btn[data-bui-size="small"] {
        --bui-size-multiplier: var(--bui-small-multiplier);
    }

    ._bui-btn[data-bui-size="medium"] {
        --bui-size-multiplier: var(--bui-medium-multiplier);
    }

    ._bui-btn[data-bui-size="large"] {
        --bui-size-multiplier: var(--bui-large-multiplier);
    }
