._bui-simple-select {
    min-width: calc(3rem * var(--bui-size-multiplier, 1));
    min-height: calc(2rem * var(--bui-size-multiplier, 1));
    padding: 0.25rem;
    border: var(--bui-border-width) var(--bui-border-style) var(--palette-border);
    border-radius: var(--bui-border-radius);
    background: var(--palette-surface);
    color: var(--palette-surfacecontrast);
    font: inherit;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    outline: none;
    transition: border-color 150ms ease;
    cursor:pointer;
}

    ._bui-simple-select:focus {
        border-color: var(--palette-surfacecontrast);
    }

    ._bui-simple-select:focus-visible {
        outline: var(--bui-highlight-outline);
        outline-offset: var(--bui-highlight-outline-offset);
    }

    ._bui-simple-select:disabled {
        cursor: not-allowed;
        opacity: var(--bui-opacity-disabled);
    }
