._bui-addon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    gap: 0.25rem;
    width: calc(2.5rem * var(--bui-size-multiplier, 1));
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    overflow: hidden;
    transition: background-color 150ms ease, border-color 150ms ease;
}