@page "/components/forms/input-date"
@using CdCSharp.BlazorUI.Components.Forms

<h3 class="title">Ejemplo DateTimePicker</h3>

<BUIInputDateTime @bind-Value="_selectedDateTime"></BUIInputDateTime>
<BUIInputDateTime @bind-Value="_selectedDateTimeOffset"></BUIInputDateTime>
<BUIInputDateTime @bind-Value="_selectedDate"></BUIInputDateTime>
<BUIInputDateTime @bind-Value="_selectedTime"></BUIInputDateTime>

@code {
    private DateTime? SelectedDate;
    private bool ShowPicker;

    private DateTime? _selectedDateTime;
    private DateTimeOffset? _selectedDateTimeOffset;
    private DateOnly? _selectedDate;
    private TimeOnly? _selectedTime;
}
