bui-component[data-bui-component="input-number"] .bui-input__field {
    font-variant-numeric: tabular-nums;
    font-feature-settings: 'tnum';
}

/* === STEP BUTTONS === */

bui-component[data-bui-component="input-number"] .bui-input__step-buttons {
    display: flex;
    flex-direction: column;
}

bui-component[data-bui-component="input-number"][data-bui-button-placement="left"] .bui-input__step-buttons {
    order: -1;
}
