bui-component[data-bui-component="svg-icon"] {
    min-width: 1em;
    min-height: 1em;
    display: inline-block;
    flex-shrink: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    bui-component[data-bui-component="svg-icon"] svg {
        fill: currentColor;
    }

    /* Specific size adjutements for icons */
    bui-component[data-bui-component="svg-icon"][data-bui-size="small"] {
        font-size: calc(1.25rem * var(--bui-size-multiplier));
    }

    bui-component[data-bui-component="svg-icon"][data-bui-size="medium"] {
        font-size: calc(1.5rem * var(--bui-size-multiplier));
    }

    bui-component[data-bui-component="svg-icon"][data-bui-size="large"] {
        font-size: calc(2rem * var(--bui-size-multiplier));
    }