bui-component[data-bui-component="svg-icon"] {
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    bui-component[data-bui-component="svg-icon"] svg {
        width: 100%;
        height: 100%;
        fill: currentColor;
    }

    bui-component[data-bui-component="svg-icon"][data-bui-size="small"] {
        font-size: 1.25rem;
    }

    bui-component[data-bui-component="svg-icon"][data-bui-size="medium"] {
        font-size: 1.5rem;
    }

    bui-component[data-bui-component="svg-icon"][data-bui-size="large"] {
        font-size: 2rem;
    }