.ui-svg-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    fill: currentColor;
    color: currentColor;
}

    .ui-svg-icon.ui-size-small {
        font-size: 100%;
    }

    .ui-svg-icon.ui-size-medium {
        font-size: 150%;
    }

    .ui-svg-icon.ui-size-large {
        font-size: 200%;
    }