bui-component[data-bui-component="button"] {
    --_button-height: calc(2.5rem * var(--bui-size-multiplier, 1));
    --_button-padding-x: 1rem;
    --_button-padding-y: 0.5rem;
    --_button-background: var(--bui-inline-background, var(--palette-primary));
    --_button-color: var(--bui-inline-color, var(--palette-primarycontrast));
    --_button-border-radius: var(--bui-inline-border-radius, var(--bui-border-radius));
    --_button-border: var(--bui-inline-border, var(--bui-border-width) var(--bui-border-style) var(--palette-border));
    --_button-border-top: var(--bui-inline-border-top, var(--bui-inline-border, var(--bui-border-width) var(--bui-border-style) var(--palette-border)));
    --_button-border-right: var(--bui-inline-border-right, var(--bui-inline-border, var(--bui-border-width) var(--bui-border-style) var(--palette-border)));
    --_button-border-bottom: var(--bui-inline-border-bottom, var(--bui-inline-border, var(--bui-border-width) var(--bui-border-style) var(--palette-border)));
    --_button-border-left: var(--bui-inline-border-left, var(--bui-inline-border, var(--bui-border-width) var(--bui-border-style) var(--palette-border)));
}

    bui-component[data-bui-component="button"] button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: calc(0.5rem * var(--bui-density-multiplier));
        cursor: pointer;
        padding: var(--_button-padding-y) var(--_button-padding-x);
        min-height: var(--_button-height);
        position: relative;
        overflow: hidden;
        /* Consume inline overrides with fallback to defaults */
        background-color: var(--_button-background);
        color: var(--_button-color);
        border-radius: var(--_button-border-radius);
        border: var(--_button-border);
        border-top: var(--_button-border-top);
        border-right: var(--_button-border-right);
        border-bottom: var(--_button-border-bottom);
        border-left: var(--_button-border-left);
    }

.bui-button__text {
    white-space: nowrap;
}

/* Focus state */
bui-component[data-bui-component="button"] button:focus-visible {
    outline: var(--bui-highlight-outline);
    outline-offset: var(--bui-highlight-outline-offset);
}

/* Press state */
bui-component[data-bui-component="button"] button:active:not(:disabled) {
    background: color-mix(in oklab, var(--_button-background) 80%, var(--palette-activetint) 20%);
}

/* Hover state */
bui-component[data-bui-component="button"] button:hover:not(:active):not(:disabled) {
    background: color-mix(in oklab, var(--_button-background) 90%, var(--palette-hovertint) 10%);
}
