.ui-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.ui-button__text {
    white-space: nowrap;
}

.ui-button svg {
    pointer-events: none;
}

/* Specific: Only Icon */
.ui-button--icon-only {
    padding: 0.5rem;
}