@using CdCSharp.BlazorUI.Components.Generic.Svg
@using CdCSharp.BlazorUI.Core.Components.Abstractions
@using CdCSharp.BlazorUI.Core.Theming
@using CdCSharp.BlazorUI.Core.Theming.Css
@using CdCSharp.BlazorUI.Core.Theming.Themes
@using CdCSharp.BlazorUI.Core.Transitions
@using CdCSharp.BlazorUI.Media.Icons
@using Microsoft.AspNetCore.Components.Web

@inherits UIVariantComponentBase<UIButton, UIButtonVariant>
@implements IHasTransitions

@{
    base.BuildRenderTree(__builder);
}

@code {

    /* ========= Public API ========= */

    [Parameter] public string? Text { get; set; }
    [Parameter] public string? LeadingIcon { get; set; }
    [Parameter] public string? TrailingIcon { get; set; }
    [Parameter] public CssColor? BackgroundColor { get; set; }
    [Parameter] public CssColor? Color { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public UITransitions? Transitions { get; set; }

    /* ========= Variant ========= */

    protected override UIButtonVariant DefaultVariant => UIButtonVariant.Default;

    protected override Dictionary<UIButtonVariant, Func<UIButton, RenderFragment>> BuiltInTemplates { get; } = new()
    {
        [UIButtonVariant.Default] = b => b.RenderDefault(),
    };

    /* ========= Render ========= */

    private RenderFragment RenderDefault() => __builder =>
    {
        <button @attributes="AdditionalAttributes"
                type="button"
                disabled="@Disabled"
                @onclick="OnClick">

            @if (LeadingIcon != null)
            {
                <UISvgIcon Icon="@LeadingIcon" />
            }

            @if (!string.IsNullOrWhiteSpace(Text))
            {
                <span class="ui-button__text">@Text</span>
            }

            @if (TrailingIcon != null)
            {
                <UISvgIcon Icon="@TrailingIcon" />
            }

        </button>
    };

    /* ========= Styling ========= */

    public override IEnumerable<string> GetAdditionalCssClasses()
    {
        yield return CssClassesReference.UIButton;
        yield return CssClassesReference.Variant(CssClassesReference.UIButton, Variant ?? DefaultVariant);
        if (Text == null)
        {
            yield return CssClassesReference.Specific(CssClassesReference.UIButton, "icon-only");
        }
    }

    override public Dictionary<string, string> GetAdditionalInlineStyles()
    {
        Dictionary<string, string> styles = new();

        if (BackgroundColor != null)
        {
            styles.TryAdd("background-color", BackgroundColor.ToString(ColorOutputFormats.Rgba));
        }
        if (Color != null)
        {
            styles.TryAdd("color", Color.ToString(ColorOutputFormats.Rgba));
        }

        return styles;
    }
}
