@using CdCSharp.BlazorUI.SyntaxHighlight

<div class="bui-component-demo">
    <div class="bui-component-demo__preview">
        @Definition.Demo
    </div>

    @if (!string.IsNullOrWhiteSpace(Definition.Code))
    {
        <BUICodeBlock Code="@Definition.Code"
                      Language="@Definition.Language"
                      Title="@Definition.CodeTitle" />
    }
</div>

@code {
    [Parameter, EditorRequired]
    public ComponentDemoDefinition Definition { get; set; } = default!;
}
