<div class="bui-component-demo">
    <div class="bui-component-demo__preview">
        @Demo
    </div>

    @if (!string.IsNullOrWhiteSpace(Code))
    {
        <BUICodeBlock Code="@Code"
                   Language="@Language"
                   Title="@CodeTitle" />
    }
</div>

@code {
    [Parameter, EditorRequired] public RenderFragment Demo { get; set; } = default!;
    [Parameter] public string? Code { get; set; }
    [Parameter] public string Language { get; set; } = "razor";
    [Parameter] public string? CodeTitle { get; set; }
}
