@using CdCSharp.BlazorUI.Docs.Demo.Abstractions
@using CdCSharp.BlazorUI.SyntaxHighlight

<div class="bui-component-demo">
    <div class="bui-component-demo__preview">
        @Definition.Demo
    </div>

    @if (!string.IsNullOrWhiteSpace(Definition.Code))
    {
        <BUICodeBlock Code="@Definition.Code"
                      Language="@Language" />
    }
</div>

@code {
    [Parameter, EditorRequired]
    public ComponentDemoDefinition Definition { get; set; } = default!;
    [Parameter]
    public SyntaxHighlightLanguage Language { get; set; } = SyntaxHighlightLanguage.Razor;
}
