@using CdCSharp.BlazorUI.Docs

<div class="property-table-wrapper">
    <table class="property-table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prop in Properties)
            {
                <tr>
                    <td><code>@prop.Name</code></td>
                    <td><code>@prop.Type</code></td>
                    <td><code>@prop.Default</code></td>
                    <td>@prop.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<PropertyDefinition> Properties { get; set; } = [];
}
